---
layout: default
---
<header class="case-studies-header-main" style="background-image: url('{{ site.baseurl}}/assets/images/blog/keeponcoding.jpg');">
	<div class="overlay-dark"></div>
	{% include nav.html %}
	<div class=" case-studies-title">
		<h1>Case Studies</h1><br>
		<a class="see-our-story" href="#projects">Our Story</a>
	</div>
</header>

<div class="caseStudiesWrapper">
	<div class="caseStudyPreview">
		<div class="text">
			<h2 id="projects">Responsive Floors</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<h6>Web  Design / Development</h6>
			<a href="{{site.baseurl}}/casestudies/case-one.html">View Study</a>
		</div>
		<div class="imageWrapper">
			<img src="{{site.url}}{{site.baseurl}}/assets/images/responsive.png"/>
		</div>
		</div>
	<div class="caseStudyPreview reverse">
		<div class="text">
			<h2 >Responsive Floors</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
			<h6>Web  Design / Development</h6>
			<a href="{{ site.url }}/casestudies/case-one/">View Study</a>
		</div>
		<div class="imageWrapper">
			<img src="{{site.baseurl}}/assets/images/responsivewhite.png"/>
		</div>
		</div>
	</div>

<!--{% for casestudy in site.casestudies %}
<a href="{{ casestudy.url }}"> {{ casestudy.company_name }} </a>
{% endfor %}-->