---
layout: default
---
<header class="case-studies-header-main" style="background-image: url('{{ "/assets/images/blog/keeponcoding.jpg" | relative_url }}');">
	<div class="overlay-dark"></div>
	{% include nav.html %}
	<div class=" case-studies-title">
		<h1>Case Studies</h1><br>
		<a class="see-our-story" href="#projects">See More</a>
	</div>
</header>

<div class="caseStudiesWrapper">
	<div class="caseStudyPreview">
		<div class="text">
			<h2 id="projects">RESTful App</h2>
			<p>The purpose of this exercise was to be able to map HTTP routes and CRUD (create, read, update, and destroy) using the seven Restful Routes pattern. </p>
			<h6>Web Development / Server side</h6>
			<a href="{{ "/casestudies/rest-app/" | relative_url }}">View Study</a>
		</div>
		<div class="imageWrapper">
			<img src="{{ "/assets/images/rest.jpg" | relative_url }}"/>
		</div>
		</div>
	<hr>
	<div class="caseStudyPreview reverse">
		<div class="text">
			<h2 >RGB color guessing game </h2>
			<p>Exercise to test advanced  Dom Manipulation and event handling in JavaScript  </p>
			<h6>Web  Design / Development</h6>
			<a href="{{ "/casestudies/rgbgame/" | relative_url }}">View Study</a>
		</div>
		<div class="imageWrapper">
			<img src="{{ "/assets/images/justcode.jpg" | relative_url }}"/>
		</div>
		</div>
	</div>
<hr>

<ul>
  {% for casestudy in site.casestudies %}
  <li>
    <a  style=" display: none" href="{{ casestudy.url | relative_url }}">{{ casestudy.company_name }}</a>
  </li>
  {% endfor %}
</ul>

