body
	background: url('https://media.giphy.com/media/F8C2mZCv9wDE4/giphy.gif') !important 
header.header-main
	position: relative
	z-index: 1
	display: flex
	flex-direction: column
	align-items: left 
	justify-content: center
	width: 100%
	height: 650px
	background-size: cover
	position: cover
	background-repeat: no-repeat
	border-bottom: solid $primaria 1px 

	

.overlay-light
	position: absolute
	z-index: 2
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: $black //
	opacity: .9

.home-title
	position: relative
	width: 100%
	z-index: 3
	text-align: center
	padding-top: 50px
	//font-weight: 500
.text-animation
	list-style: none
	position: absolute
	left: 50%
	top: 50%
	transform: translateX(-50%) translateY(-160%)
	@media screen and(max-width: 465px)
		transform: translateX(-0) translateY(-0)
		
	


.text-animation li
	display: inline-block
	margin-right: 5px
	font-family: 'Hi Melody', cursive 
	font-weight: 900
	font-size: 50px
	text-shadow: 0 0 15px yellow
	animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite
	-webkit-animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite
	color: yellow
	opacity: 1
	transition: all 2.5s ease
	@media screen and(max-width: 465px)
		display: inline
		font-size: 40px
		margin-right: 5px

.text-animation li:last-child
	margin-right: 0 


.text-animation.hidden
	opacity: 0

.text-animation.hidden li:nth-child(1)
	transform: translateX(-200px)translateY(-200px)
.text-animation.hidden li:nth-child(2)
	transform: translateX(-50px)translateY(-100px)
.text-animation.hidden li:nth-child(3)
	transform: translateX(-300px)translateY(-100px)
.text-animation.hidden li:nth-child(4)
	transform: translateX(-200px)translateY(-100px)
.text-animation.hidden li:nth-child(5)
	transform: translateX(-150px)translateY(-80px)
.text-animation.hidden li:nth-child(6)
	transform: translateX(-10px)translateY(-200px)
.text-animation.hidden li:nth-child(7)
	transform: translateX(200px)translateY(-200px)

h1
	font-size: 3.125em
	padding: 0 20px 0px 20px //will break before the edge
	//font-family: $font-stack
	color: white

h3
	font-size: 1.25em
	font-weight: 400
	line-height: 1.2em
	color: white
	&:hover
		//color: red
		text-shadow: 0 0 15px red
		animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite
		-webkit-animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite
		color: yellow

a.home-avatar
	position: absolute
	bottom: 0px
	left: 0px
	right: 0px
	width: 100px
	height: 100px
	border-radius: 100%
	border-top: solid 1px white
	margin: auto
	margin-bottom: -60px
	//box-shadow: 0px 0px 6px 0px black
	z-index: 700
	&:hover 
		transform: rotate(360deg) scale(2,2)
		transform: rotate(360deg) scale(2,2)
		//box-shadow: 0px 5px 0px 5px black
		//transform: scale(2,2)
	background:
		//image: url('assets/images/profilepic.jpg')
		size: cover
		position: center center 
		repeat: no-repeat
	@media screen and (max-width: 355px)
		height: 75px
		width: 75px
		margin-bottom: -43px

.about 
	background: black
	margin-top: -150px
	width: 70%
	min-height: 650px
	margin-left: auto
	margin-right: auto
	border-radius: 2px 2px
	border: solid 10px $primaria
		

	.who-is-she
		display: block
		position: relative
		top: 150px
		max-width: 600px
		height: 100%
		margin: 140px auto 100px auto
		padding: 0 20px
		color: white
		text-overflow: ellipsis
		@media screen and (max-width: 455px)
			position: relative
			top: 100px
		
		
		h2
			margin: -100px auto 0px auto
			padding-bottom: 17px
			text-align: center
			font-family: $font-stack
			font-size:  25px
			color: red
			font-weight: 700
			line-height: 2.5em
			text-align: justify
			text-justify: inter-word
			color: $primaria
			text-align: center
			transition: all 0.15s ease-in-out
			text-shadow: 0 0 15px red
			animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite
			-webkit-animation: blin 0.5s linear, glowh1 1.5s ease-in-out infinite
			color: #cc0f0f
			&:hover
				opacity: 1
			@media screen and (max-width: 655px)
				position: relative
				top: 40px
				font-size:  14px
			@media screen and (max-width: 405px)
				position: relative
				top: 50px
				
		p

			font-size: 17px
			letter-spacing: 1px
			word-spacing: 7px
			font-family: Imprima
			@media screen and (max-width: 655px)
				position: relative
				top: 40px
				font-size:  12px
			@media screen and (max-width: 405px)
				position: relative
				top: 50px
			@media screen and (max-width: 200px)
				font-size: 2vw
		


		
		


//Recent Projects 
.projects
	background-color: #050404


	h2.recent-projects
		text-align: center 
		padding-top: 150px
		color: $white



	.recent-projects-content-wrapper
		margin: 0 auto 100px auto
		max-width: 800px 
		padding: 60px 20px 0px 20px 
		display: flex
		flex-direction: column 
		align-items: center
		.project-wrap
			width: 100% 
			display: flex
			justify-content: flex-start
			.project
				max-width: 460px
				min-height: 100px
				margin: 20px 0
				display: flex 
				flex-direction: row
				justify-content: space-around
				border-right: solid 1px lightgrey 
				.project-img
					background: $primaria-blue
					width: 100px
					height: 100px
					flex: 0 0 100px
					border-radius: 3px
					cursor: pointer
					background:
						size: cover
						position: center center 
						repeat: no-repeat 
				.project-img-one
						background:
							image: url('../images/greenmonkey.png')
				.project-img-two
						background:
							image: url('../images/colorgame.png')
				a.project-text
					min-height: 83px
					height: 100%
					width: 100%
					margin-left: 15px 
					display: flex
					flex-direction: column 
					justify-content: space-around
					padding: 5px 10px 
					h4
						color: #c46200
						font-size: 1em
					p
						line-height: 1.6em
						font-weight: 500
						line-height: 2.5em
						text-align: justify
						text-justify: inter-word
						color: $white
						opacity: 0.7
						transition: all 0.15s ease-in-out
						&:hover
							opacity: 1

		.project-wrap-reverse
			justify-content: flex-end
			.project
				flex-direction: row-reverse
				border-left: solid 1px lightgrey
				border-right: none 
				.project-text
					text-align: right 
					margin-right: 15px
					margin-left: 0

		@media screen and(max-width: 465px)
			.project-wrap
				.project
					flex-direction: column 
					min-height: 120px
					borfer: none
					.project-text
						margin: 6px 0 0 0
			.project-wrap-reverse
				.project
					align-items: flex
					flex-direction: column 
					min-height: 120px

						






		
		
	

