
<footer class="footer-wrapper">
	<div id="fotter" class="form-slug">
		<h2>Say <span class="hi">Hi</span></h2>
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>	
	{% include form.html %}
	<a href="malito:{{site.email}}" class="footer-email">{{ site.email }}</a>

	<div id="social-links">
		<a href="https://github.com/CarlasHub" target="_blank" class="external-link-wrapper">
			<i class="devicon-github-plain"></i>
		</a>
		<a href="https://twitter.com/justGosthing?lang=en" target="_blank" class="external-link-wrapper">
			<div class="external-link-icon external-link-icon-twitter"></div>
		</a>
		</div>
	<p id="copyright"><b>©</b>2018 surely with <3 by Carla </p>
	</footer>
