
<div class="form-cap">
<form class="form" action="https://formspree.io/carlawlondon@gmail.com"
      method="POST">
	<label class="label" for="mce-EMAIL">Email Address </label>
    <input type="email"  class="required-email" name="_replyto" placeholder="your@email.com">
    <br>
    <label class="label" for="mce-EMAIL">Write your message</label>
    <textarea cols='30' rows='5' class="form-message" type="text" name="name"></textarea><br>
    <button class="ui inverted red button" type="submit" value="Send">Submit</button>
</form>
</div>